{
	"parser": "babel-eslint",
	"extends": "airbnb",
	// "plugins": ["react", "flowtype", "jsx-a11y", "import"],
	"plugins": ["jsx-a11y"],
	"env": {
		"jest": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"indent": "off",
		"arrow-body-style": "off",
		"arrow-parens": "off",
		"func-names": "off",
		"new-cap": "off",
		"operator-linebreak": "off",
		"space-before-function-paren": "off",
		"implicit-arrow-linebreak": "off",
		"object-curly-newline": "off",
		"semi": ["error", "never"],
		"one-var": "off",
		"no-plusplus": "off",
		"no-await-in-loop": "off",
		"class-methods-use-this": "off",
		"import/no-named-default": "off",
		"import/prefer-default-export": "off",
		"import/named": "off",
		"import/extensions": [1, "never", { "svg": "always", "json": "always" }],
		"import/no-extraneous-dependencies": [
			"error",
			{
				"devDependencies": true,
				"optionalDependencies": false,
				"peerDependencies": false
			}
		],
		"no-use-before-define": "off",
		"no-console": "off",
		"no-underscore-dangle": "off",
		"no-param-reassign": "off",
		"no-return-await": "off",
		"no-tabs": "off",
		"no-restricted-syntax": "off",
		"no-throw-literal": "off",
		"no-else-return": "off",
		"no-async-promise-executor": "off",
		"no-restricted-globals": "off",
		"max-len": "off"
	},
	"overrides": [
		{
			"files": ["test/*.js"],
			"globals": {
				"before": true
			}
		}
	],
	"globals": {
		"isNaN": true
	}
}
